<footer>
  <%= link_to "Home", root_path, class: "footer-nav footer-box"%>
  <div class="subnav footer-box">
    <%= link_to "About", about_path, class: "footer-nav"%>
    <%= link_to "A bit about us", aboutmain_path, class: "footer-subnav"%>
    <%= link_to "Legal Information", legal_path, class: "footer-subnav"%>
  </div>
  <div class="subnav footer-box">
    <%= link_to "Pricing", pricing_path, class: "footer-nav"%>
    <%= link_to "Package Information", packages_path, class: "footer-subnav"%>
    <%= link_to "Business Plans", business_path, class: "footer-subnav"%>
    <%= link_to "Affordable Connectivity Program", acp_path, class: "footer-subnav"%>
  </div>
    <%= link_to "Coverage", coverage_path, class: "footer-nav footer-box"%>
    <%= link_to "Billing", billing_path, class: "footer-nav footer-box"%>
    <%= link_to "Support", support_path, class: "footer-nav footer-box"%>
    <div class="subnav footer-box">
      <%= link_to "Social Media", social_path, class: "footer-nav"%>
      <a href="https://www.facebook.com/bargercreek/" class="footer-subnav social-center">
        <%= image_tag("facebook-blue.svg", :alt => "", class: "social-icons desktop") %>
        <%= image_tag("facebook-white.svg", :alt => "", class: "social-icons mobile") %>
        <p class="social-text">Facebook</p>
      </a>
      <a href="https://www.instagram.com/barger_creek/?hl=en" class="footer-subnav social-center">
       <%= image_tag("instagram-blue.svg", :alt => "", class: "social-icons desktop") %> 
        <%= image_tag("instagram-white.svg", :alt => "", class: "social-icons mobile") %> 
       <p class="social-text">Instagram</p>
      </a>
    </div>
</footer>
<p class="copyright">Copyright 2022 Barger Creek Wireless</p>