<nav>
  <div class="display-top">
    <%= link_to root_path do %>
        <%= image_tag("BCW-logo.jpg", :alt => "Bardger Creek Wireless Logo", class: "logo") %> 
    <% end %>
    <%= image_tag("menu.svg", :alt => "mobile nav opener", class: "hamburgerMain hamburger") %>
  </div>
  <div class="links" id="linksMain">
    <%= link_to "Home", root_path, class: "navbutton"%>
    <div class="dropdown-container">
      <div class="drop-link about">
        <%= link_to "About", about_path, class: "dropdown navbutton"%>
        <%= image_tag("menu-blue.svg", :alt => "mobile nav opener", class: "hamburgerAbout hamburger") %>
      </div>
      <div class="drop-items aboutitems">
        <div class="drop-flex" id="linksAbout">
          <%= link_to "A bit about us", about_path, class: "navbutton drop"%>
          <%= link_to "Contact Us", contact_path, class: "navbutton drop"%>
          <%= link_to "Legal Information", legal_path, class: "navbutton drop"%>
        </div>
      </div>
    </div>
    <div class="dropdown-container">
      <div class="drop-link  prices" id="linksPricing">
        <%= link_to "Pricing", pricing_path, class: "dropdown navbutton"%>
        <%= image_tag("menu-blue.svg", :alt => "mobile nav opener", class: "hamburgerPrices hamburger") %>
      </div>
      <div class="drop-items pricingitems">
        <div class="drop-flex">
          <%= link_to "Package Information", packages_path, class: "navbutton drop"%>
          <%= link_to "Business Plans", business_path, class: "navbutton drop"%>
          <%= link_to "Affordable Connectivity Program", acp_path, class: "navbutton drop"%>
        </div>
      </div>
    </div> 
    <%= link_to "Coverage", coverage_path, class: "navbutton"%>
    <%= link_to "Billing", 'https://billing.bargercreek.com/', class: "navbutton"%>
    <%= link_to "Support", support_path, class: "navbutton"%>
  </div>
  <script>
    var navContent = document.querySelector('.links');
    document.querySelector(".hamburgerMain").addEventListener('click', function(){navContent.classList.toggle('active')})
    var aboutContent = document.querySelector('.aboutitems');
    var aboutButton = document.querySelector('.about')
    document.querySelector(".hamburgerAbout").addEventListener('click', function(){
      aboutContent.classList.toggle('active');
      aboutButton.classList.toggle('activeitem');
      })
    var pricesContent = document.querySelector('.pricingitems');
    var pricesButton = document.querySelector('.prices')
    document.querySelector(".hamburgerPrices").addEventListener('click', function(){
      pricesContent.classList.toggle('active');
      pricesButton.classList.toggle('activeitem'); 
      })
  </script>
</nav>