<nav>
  <div class="display-top">
    <%= link_to root_path do %>
      <img src="" alt="Badger Creek Wireless Logo">
    <% end %>
    <%= image_tag("menu.svg", :alt => "mobile nav opener", class: "hamburgerMain hamburger") %>
  </div>
  <div class="links" id="linksMain">
    <%= link_to "Home", root_path, class: "navbutton"%>
    <div class="dropdown-container">
      <div class="drop-link">
        <%= link_to "About", about_path, class: "dropdown navbutton"%>
        <%= image_tag("menu.svg", :alt => "mobile nav opener", class: "hamburgerAbout hamburger") %>
      </div>
      <div class="drop-items aboutitems">
        <div class="drop-flex" id="linksAbout">
          <a href="" class="navbutton drop">A bit about us</a>
          <a href="" class="navbutton drop">Social media</a>
          <a href="" class="navbutton drop">Legal information</a>
        </div>
      </div>
    </div>
    <div class="dropdown-container">
      <div class="drop-link" id="linksPricing">
        <a href="" class="dropdown navbutton">Pricing</a>
        <%= image_tag("menu.svg", :alt => "mobile nav opener", class: "hamburgerPrices hamburger") %>
      </div>
      <div class="drop-items pricingitems">
        <div class="drop-flex">
          <a href="" class="navbutton drop">Package information</a>
          <a href="" class="navbutton drop">Business Plans</a>
          <a href="" class="navbutton drop">Affordable Connectivity Program</a>
        </div>
      </div>
    </div> 
    <a href="" class="navbutton">Coverage</a>
    <a href="" class="navbutton">Billing</a>
    <a href="" class="navbutton">Support</a>
  </div>
  <script>
    var navContent = document.querySelector('.links');
    document.querySelector(".hamburgerMain").addEventListener('click', function(){navContent.classList.toggle('active')})
    var aboutContent = document.querySelector('.aboutitems');
    document.querySelector(".hamburgerAbout").addEventListener('click', function(){aboutContent.classList.toggle('active')})
    var pricesContent = document.querySelector('.pricingitems');
    document.querySelector(".hamburgerPrices").addEventListener('click', function(){pricesContent.classList.toggle('active')})
  </script>
</nav>