
<main class="about-page">
  <div class="mission-statement">
    <h1 class="mission-statement-title">Mission Statement and Grant info</h1>
    <p class="mission-statement-content"></p>
  </div>
  <div class="bio-cards">
    <div class="bio-card">
      <h2 class="bio-name">PERSON A</h2>
      <%= image_tag("", :alt => "portrait", class: "Portrait") %> 
      <p class="bio-info">dsajdjawdaidmamidwaimdimawd</p>
    </div>
    <div class="bio-card">
      <h2 class="bio-name">PERSON B</h2>
      <%= image_tag("", :alt => "portrait", class: "Portrait") %> 
      <p class="bio-info">asdadjoajodjiadijoadijo</p>
    </div>
  </div>
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <% slide1 = contentful.entry('3Xr6ukWsmGYWTuZIqH9WDm')%>
      <div class="numbertext">1 / 3</div>
      <div class="img"><%=@renderer.render(slide1.image).html_safe %></div>
      <div class="text"><%= slide1.fields[:caption] %></div>
    </div>

    <div class="mySlides fade">
      <% slide2 = contentful.entry('5t9ypN5Mb362fsrrSGC4UK')%>
      <div class="numbertext">2 / 3</div>
      <div class="img"><%=@renderer.render(slide2.image).html_safe %></div>
      <div class="text"><%= slide2.fields[:caption] %></div>
    </div>

    <div class="mySlides fade">
      <% slide3 = contentful.entry('2UlkIvboap8xRzFGL4C8rr')%>
      <div class="numbertext">3 / 3</div>
      <div class="img"><%=@renderer.render(slide3.image).html_safe %></div>
      <div class="text"><%= slide3.fields[:caption] %></div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</main>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
  </script>